body {
    background-color: darkblue;
    color: aliceblue;
}
/*I modified the body's color and background color*/
.p1 {
    text-align: center;
    font-size: 100px;
    position: relative;
    color: aliceblue;
}
#ronaldoo {
    width: 700px;
    height: 400px;
    position: relative;    
}
.p2 {
    left: 725px;
    color: aliceblue;
    font-size: 35px;
    position: relative;
    bottom: 430px;
}
/*I added some paragraphs and edited them*/
/*I added an image and modified it*/