body {
    color: aliceblue;
    background-color: darkblue;
}
/*I edited the body's color and background color*/
.p1 {
    text-align: center;
    font-size: 65px;
}
#kolo {
    width: 700px;
    height: 400px;
}
.p2 {
    color: aliceblue;
    position: relative;
    left: 725px;
    bottom: 420px;
    font-size: 35px;
}
.p3 {
    color: aliceblue;
    position: relative;
    bottom: 890px;
    left: 175px;
    font-size: 35px;
}
/*I edited and added paragraphs */
/*I edited and added an image */